In [1]:
import pandas as pd
import numpy as np
import data_cleaning
import chicago_api as chi

In [3]:
## Testing restaurant df filtering
chunk_size = 100000
restaurants_df = data_cleaning.filter_business_data("data/yelp_academic_dataset_business.json", chunk_size)

## Testing save and load
data_cleaning.save(restaurants_df, "data/filtered_restaurants.json")
reloaded_restaurants_df = data_cleaning.load("data/filtered_restaurants.json", chunk_size)
reloaded_restaurants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27894 entries, 0 to 27893
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   27894 non-null  object
 1   name          27894 non-null  object
 2   address       27894 non-null  object
 3   city          27894 non-null  object
 4   state         27894 non-null  object
 5   postal_code   27894 non-null  object
 6   latitude      27894 non-null  float64
 7   longitude     27894 non-null  float64
 8   stars         27894 non-null  float64
 9   review_count  27894 non-null  int64
 10  is_open       27894 non-null  int64
 11  attributes    27888 non-null  object
 12  categories    27894 non-null  object
 13  hours         26538 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 3.0+ MB

In [4]:
## Testing review df filtering
chunk_size = 100000
reviews_df = data_cleaning.filter_review_data("data/yelp_academic_dataset_review.json", restaurants_df, chunk_size)
reviews_df.info()

## Testing save and load
data_cleaning.save(reviews_df, "data/filtered_reviews.json")
reloaded_reviews_df = data_cleaning.load("data/filtered_reviews.json", chunk_size)
reloaded_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4371248 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 333.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4371248 entries, 0 to 4371247
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 300.1+ MB

In [18]:
## Testing users df filtering
chunk_size = 100000
users_df = filter_user_data("data/yelp_academic_dataset_user.json", reviews_df, chunk_size)
users_df.info()

## Testing save and load
save(users_df, "data/filtered_users.json")
reloaded_users_df = load("data/filtered_users.json", chunk_size)
reloaded_users_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1379968 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   user_id             1379968 non-null  object
 1   name                1379968 non-null  object
 2   review_count        1379968 non-null  int64
 3   yelping_since       1379968 non-null  object
 4   useful              1379968 non-null  int64
 5   funny               1379968 non-null  int64
 6   cool                1379968 non-null  int64
 7   elite               1379968 non-null  object
 8   friends             1379968 non-null  object
 9   fans                1379968 non-null  int64
 10  average_stars       1379968 non-null  float64
 11  compliment_hot      1379968 non-null  int64
 12  compliment_more     1379968 non-null  int64
 13  compliment_profile  1379968 non-null  int64
 14  compliment_cute     1379968 non-null  int64
 15  compliment_list     1379968 non-null  int64
 16  compliment_note     1379968 non-null  int64
 17  compliment_plain    1379968 non-null  int64
 18  compliment_cool     1379968 non-null  int64
 19  compliment_funny    1379968 non-null  int64
 20  compliment_writer   1379968 non-null  int64
 21  compliment_photos   1379968 non-null  int64
dtypes: float64(1), int64(16), object(5)
memory usage: 242.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379968 entries, 0 to 1379967
Data columns (total 22 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   user_id             1379968 non-null  object
 1   name                1379968 non-null  object
 2   review_count        1379968 non-null  int64
 3   yelping_since       1379968 non-null  object
 4   useful              1379968 non-null  int64
 5   funny               1379968 non-null  int64
 6   cool                1379968 non-null  int64
 7   elite               1379968 non-null  object
 8   friends             1379968 non-null  object
 9   fans                1379968 non-null  int64
 10  average_stars       1379968 non-null  float64
 11  compliment_hot      1379968 non-null  int64
 12  compliment_more     1379968 non-null  int64
 13  compliment_profile  1379968 non-null  int64
 14  compliment_cute     1379968 non-null  int64
 15  compliment_list     1379968 non-null  int64
 16  compliment_note     1379968 non-null  int64
 17  compliment_plain    1379968 non-null  int64
 18  compliment_cool     1379968 non-null  int64
 19  compliment_funny    1379968 non-null  int64
 20  compliment_writer   1379968 non-null  int64
 21  compliment_photos   1379968 non-null  int64
dtypes: float64(1), int64(16), object(5)
memory usage: 231.6+ MB

In [9]:
## Pull Chicago API data
#chi_restaurants_df = chi.get_chicago_restaurants_df(0, 10)
#chi_restaurants_df = chi.get_chicago_restaurants_df(10, 60)
#chi_restaurants_df = chi.get_chicago_restaurants_df(60, 110)
#chi_restaurants_df = chi.get_chicago_restaurants_df(110, 160)
#chi_restaurants_df = chi.get_chicago_restaurants_df(160, 210)
chi_restaurants_df = chi.get_chicago_restaurants_df(210, 260)

South Lawndale has 5300 hits

/home/chasty2/Documents/group-project-better-late-than-never/chicago_api.py:80: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_restaurants = pd.concat([all_restaurants, restaurants_df], ignore_index=True)

The Loop has 2800 hits
South Shore has 1200 hits
Douglas has 929 hits
Avalon Park has 445 hits
Near North Side has 5500 hits
Mount Greenwood has 364 hits
Near West Side has 5800 hits
West Town has 6300 hits
Norwood Park has 2500 hits
Near West Side has 5800 hits
Uptown has 1400 hits
Irving Park has 6200 hits
Garfield Ridge has 2000 hits
Avondale has 6500 hits
Washington Heights has 441 hits
Washington Park has 548 hits
Armour Square has 1300 hits
Beverly has 443 hits
Chatham has 484 hits
Chatham has 484 hits
Roseland has 1300 hits
Lincoln Park has 6000 hits
West Elsdon has 261 hits
West Englewood has 561 hits
West Garfield Park has 893 hits
Austin has 3800 hits
Humboldt Park has 6800 hits
Lake View has 1800 hits
West Lawn has 578 hits
Near West Side has 5800 hits
Morgan Park has 339 hits
West Pullman has 238 hits
West Ridge has 1100 hits
West Ridge has 1100 hits
West Town has 6300 hits
Woodlawn has 513 hits
West Town has 6300 hits
Forest Glen has 523 hits
Woodlawn has 513 hits
Ashburn has 1900 hits
Lincoln Park has 6000 hits
Lake View has 1800 hits

In [2]:
all_chi_restaurants = data_cleaning.load("data/chicago_restaurants_incomplete", 100_000)

In [3]:
all_chi_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60466 entries, 0 to 60465
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              60466 non-null  object
 1   alias           60466 non-null  object
 2   name            60466 non-null  object
 3   image_url       60466 non-null  object
 4   is_closed       60466 non-null  bool
 5   url             60466 non-null  object
 6   review_count    60466 non-null  int64
 7   categories      60466 non-null  object
 8   rating          60466 non-null  float64
 9   coordinates     60466 non-null  object
 10  transactions    60466 non-null  object
 11  price           26125 non-null  object
 12  location        60466 non-null  object
 13  phone           60466 non-null  object
 14  display_phone   60466 non-null  object
 15  distance        60466 non-null  float64
 16  business_hours  60466 non-null  object
 17  attributes      60466 non-null  object
 18  neighborhood    60466 non-null  object
dtypes: bool(1), float64(2), int64(1), object(15)
memory usage: 8.4+ MB

In [12]:
all_chi_restaurants = pd.concat([all_chi_restaurants, chi_restaurants_df], ignore_index=True)
data_cleaning.save(all_chi_restaurants, "data/chicago_restaurants_incomplete")

In [4]:
all_chi_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60466 entries, 0 to 60465
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              60466 non-null  object
 1   alias           60466 non-null  object
 2   name            60466 non-null  object
 3   image_url       60466 non-null  object
 4   is_closed       60466 non-null  bool
 5   url             60466 non-null  object
 6   review_count    60466 non-null  int64
 7   categories      60466 non-null  object
 8   rating          60466 non-null  float64
 9   coordinates     60466 non-null  object
 10  transactions    60466 non-null  object
 11  price           26125 non-null  object
 12  location        60466 non-null  object
 13  phone           60466 non-null  object
 14  display_phone   60466 non-null  object
 15  distance        60466 non-null  float64
 16  business_hours  60466 non-null  object
 17  attributes      60466 non-null  object
 18  neighborhood    60466 non-null  object
dtypes: bool(1), float64(2), int64(1), object(15)
memory usage: 8.4+ MB

In [3]:
# Clean Chicago data
cleaned_chi = all_chi_restaurants.dropna()
cleaned_chi = cleaned_chi.drop_duplicates(subset=['id','neighborhood'])
cleaned_chi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8712 entries, 5 to 59985
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              8712 non-null   object
 1   alias           8712 non-null   object
 2   name            8712 non-null   object
 3   image_url       8712 non-null   object
 4   is_closed       8712 non-null   bool
 5   url             8712 non-null   object
 6   review_count    8712 non-null   int64
 7   categories      8712 non-null   object
 8   rating          8712 non-null   float64
 9   coordinates     8712 non-null   object
 10  transactions    8712 non-null   object
 11  price           8712 non-null   object
 12  location        8712 non-null   object
 13  phone           8712 non-null   object
 14  display_phone   8712 non-null   object
 15  distance        8712 non-null   float64
 16  business_hours  8712 non-null   object
 17  attributes      8712 non-null   object
 18  neighborhood    8712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [4]:
# Use Harket's cuisine mapping to convert 'categories' list of dicts to a single string
CUISINE_MAP = {
    'American':             ['American (Traditional)', 'American (New)',
                                'Burgers', 'Fast Food', 'Diners', 'Sandwiches'],
    'Mexican':              ['Mexican', 'Tacos', 'Tex-Mex'],
    'Italian':              ['Italian', 'Pizza', 'Pasta Shops'],
    'Chinese':              ['Chinese', 'Dim Sum'],
    'Japanese':             ['Japanese', 'Sushi Bars'],
    'Thai':                 ['Thai'],
    'Indian':               ['Indian'],
    'Mediterranean':        ['Mediterranean', 'Greek', 'Turkish'],
    'Vietnamese':           ['Vietnamese'],
    'Seafood':              ['Seafood'],
    'Barbecue':             ['Barbeque'],
    'Breakfast & Brunch':   ['Breakfast & Brunch', 'Coffee & Tea']
}

def map_cuisine(categories):
    for category in categories:
        for cuisine, keywords in CUISINE_MAP.items():
            for kw in keywords:
                if kw.lower() in category['title'].lower():
                    return cuisine
    return 'Other'

In [5]:
cleaned_chi['food_category'] = cleaned_chi['categories'].apply(map_cuisine)

print(cleaned_chi['food_category'].value_counts())

food_category
Other                 2149
Mexican               1530
American              1452
Breakfast & Brunch     907
Italian                836
Seafood                459
Chinese                358
Japanese               289
Mediterranean          214
Barbecue               191
Thai                   129
Vietnamese             123
Indian                  75
Name: count, dtype: int64

In [6]:
# Use Sonya's code to map 'price' string to an integer
PRICE_MAP = {
    '$':    1,
    '$$':   2,
    '$$$':  3,
    '$$$$': 4
}

def map_price(price_string):
    return PRICE_MAP[price_string]

In [7]:
cleaned_chi['price_range'] = cleaned_chi['price'].apply(map_price)

print(cleaned_chi['price_range'].value_counts())

price_range
2    4372
1    3970
3     285
4      85
Name: count, dtype: int64

In [11]:
data_cleaning.save(cleaned_chi, "flask/static/chicago_restaurants.json")

In [1]:
# Test recommendation function used in flask app
import flask.recommend as rec
import data_cleaning as dc
chi_df = dc.load("flask/static/chicago_restaurants.json", 100_000)

In [4]:
yelp_rec = rec.get_best_restaurants(chi_df, "Seafood", "Albany Park", 3)
yelp_rec

['Penumbra', 'Wellfleet Occasional Restaurant']

In [11]:
chi_df[chi_df['name'] == "Mammoth Poke"].head(1)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,...,price,location,phone,display_phone,distance,business_hours,attributes,neighborhood,food_category,price_range
25,L7OoIKseZ8_zE8yMAewdEQ,mammoth-poke-chicago,Mammoth Poke,https://s3-media1.fl.yelpcdn.com/bphoto/owW3o2...,False,https://www.yelp.com/biz/mammoth-poke-chicago?...,111,"[{'alias': 'poke', 'title': 'Poke'}, {'alias':...",4.8,"{'latitude': 41.9186713981, 'longitude': -87.6...",...,$$,"{'address1': '2035 N Western Ave', 'address2':...",+13125162456,(312) 516-2456,6210.746869,"[{'open': [{'is_overnight': False, 'start': '1...","{'business_temp_closed': None, 'menu_url': 'ht...",Albany Park,Japanese,2