In [6]:
import pandas as pd
import numpy as np
import data_cleaning
import chicago_api as chi

In [3]:
## Testing restaurant df filtering
chunk_size = 100000
restaurants_df = data_cleaning.filter_business_data("data/yelp_academic_dataset_business.json", chunk_size)

## Testing save and load
data_cleaning.save(restaurants_df, "data/filtered_restaurants.json")
reloaded_restaurants_df = data_cleaning.load("data/filtered_restaurants.json", chunk_size)
reloaded_restaurants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27894 entries, 0 to 27893
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   27894 non-null  object
 1   name          27894 non-null  object
 2   address       27894 non-null  object
 3   city          27894 non-null  object
 4   state         27894 non-null  object
 5   postal_code   27894 non-null  object
 6   latitude      27894 non-null  float64
 7   longitude     27894 non-null  float64
 8   stars         27894 non-null  float64
 9   review_count  27894 non-null  int64
 10  is_open       27894 non-null  int64
 11  attributes    27888 non-null  object
 12  categories    27894 non-null  object
 13  hours         26538 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 3.0+ MB

In [4]:
## Testing review df filtering
chunk_size = 100000
reviews_df = data_cleaning.filter_review_data("data/yelp_academic_dataset_review.json", restaurants_df, chunk_size)
reviews_df.info()

## Testing save and load
data_cleaning.save(reviews_df, "data/filtered_reviews.json")
reloaded_reviews_df = data_cleaning.load("data/filtered_reviews.json", chunk_size)
reloaded_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4371248 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 333.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4371248 entries, 0 to 4371247
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 300.1+ MB

In [18]:
## Testing users df filtering
chunk_size = 100000
users_df = filter_user_data("data/yelp_academic_dataset_user.json", reviews_df, chunk_size)
users_df.info()

## Testing save and load
save(users_df, "data/filtered_users.json")
reloaded_users_df = load("data/filtered_users.json", chunk_size)
reloaded_users_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1379968 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   user_id             1379968 non-null  object
 1   name                1379968 non-null  object
 2   review_count        1379968 non-null  int64
 3   yelping_since       1379968 non-null  object
 4   useful              1379968 non-null  int64
 5   funny               1379968 non-null  int64
 6   cool                1379968 non-null  int64
 7   elite               1379968 non-null  object
 8   friends             1379968 non-null  object
 9   fans                1379968 non-null  int64
 10  average_stars       1379968 non-null  float64
 11  compliment_hot      1379968 non-null  int64
 12  compliment_more     1379968 non-null  int64
 13  compliment_profile  1379968 non-null  int64
 14  compliment_cute     1379968 non-null  int64
 15  compliment_list     1379968 non-null  int64
 16  compliment_note     1379968 non-null  int64
 17  compliment_plain    1379968 non-null  int64
 18  compliment_cool     1379968 non-null  int64
 19  compliment_funny    1379968 non-null  int64
 20  compliment_writer   1379968 non-null  int64
 21  compliment_photos   1379968 non-null  int64
dtypes: float64(1), int64(16), object(5)
memory usage: 242.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379968 entries, 0 to 1379967
Data columns (total 22 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   user_id             1379968 non-null  object
 1   name                1379968 non-null  object
 2   review_count        1379968 non-null  int64
 3   yelping_since       1379968 non-null  object
 4   useful              1379968 non-null  int64
 5   funny               1379968 non-null  int64
 6   cool                1379968 non-null  int64
 7   elite               1379968 non-null  object
 8   friends             1379968 non-null  object
 9   fans                1379968 non-null  int64
 10  average_stars       1379968 non-null  float64
 11  compliment_hot      1379968 non-null  int64
 12  compliment_more     1379968 non-null  int64
 13  compliment_profile  1379968 non-null  int64
 14  compliment_cute     1379968 non-null  int64
 15  compliment_list     1379968 non-null  int64
 16  compliment_note     1379968 non-null  int64
 17  compliment_plain    1379968 non-null  int64
 18  compliment_cool     1379968 non-null  int64
 19  compliment_funny    1379968 non-null  int64
 20  compliment_writer   1379968 non-null  int64
 21  compliment_photos   1379968 non-null  int64
dtypes: float64(1), int64(16), object(5)
memory usage: 231.6+ MB

In [9]:
## Pull Chicago API data
#chi_restaurants_df = chi.get_chicago_restaurants_df(0, 10)
#chi_restaurants_df = chi.get_chicago_restaurants_df(10, 60)
chi_restaurants_df = chi.get_chicago_restaurants_df(60, 110)

Riverdale has 972 hits

/home/chasty2/miniconda3/envs/rapids-25.04/lib/python3.12/site-packages/cudf/pandas/fast_slow_proxy.py:28: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return fn(*args, **kwargs)

Forest Glen has 523 hits
Edgewater has 1100 hits
Edgewater has 1100 hits
Edgewater has 1100 hits
Edison Park has 475 hits
Englewood has 613 hits
Roseland has 1300 hits
East Garfield Park has 1300 hits
West Lawn has 577 hits
Forest Glen has 523 hits
Fuller Park has 898 hits
Near West Side has 5800 hits
Gage Park has 657 hits
Austin has 3800 hits
Douglas has 929 hits
Garfield Ridge has 2000 hits
Jefferson Park has 631 hits
Near North Side has 5500 hits
Riverdale has 972 hits
Near North Side has 5500 hits
Lake View has 1800 hits
Grand Boulevard has 632 hits
Greater Grand Crossing has 633 hits
Greater Grand Crossing has 633 hits
Near West Side has 5800 hits
Auburn Gresham has 582 hits
Douglas has 929 hits
Englewood has 613 hits
Belmont Cragin has 945 hits
Lower West Side has 5000 hits
Hegewisch has 803 hits
Hermosa has 1400 hits
North Park has 1100 hits
North Lawndale has 924 hits
Humboldt Park has 6800 hits
Hyde Park has 448 hits
Near West Side has 5800 hits
Irving Park has 6200 hits
Dunning has 2700 hits
Austin has 3800 hits
Avondale has 6500 hits
South Shore has 1200 hits
Jefferson Park has 631 hits
North Lawndale has 924 hits
Hermosa has 1400 hits
Morgan Park has 340 hits
Roseland has 1300 hits
Kenwood has 433 hits
Irving Park has 6200 hits

In [10]:
all_chi_restaurants = data_cleaning.load("data/chicago_restaurants_incomplete", 100_000)

In [11]:
all_chi_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14274 entries, 0 to 14273
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              14274 non-null  object
 1   alias           14274 non-null  object
 2   name            14274 non-null  object
 3   image_url       14274 non-null  object
 4   is_closed       14274 non-null  bool
 5   url             14274 non-null  object
 6   review_count    14274 non-null  int64
 7   categories      14274 non-null  object
 8   rating          14274 non-null  float64
 9   coordinates     14274 non-null  object
 10  transactions    14274 non-null  object
 11  price           6414 non-null   object
 12  location        14274 non-null  object
 13  phone           14274 non-null  object
 14  display_phone   14274 non-null  object
 15  distance        14274 non-null  float64
 16  business_hours  14274 non-null  object
 17  attributes      14274 non-null  object
 18  neighborhood    14274 non-null  object
dtypes: bool(1), float64(2), int64(1), object(15)
memory usage: 2.0+ MB

In [12]:
all_chi_restaurants = pd.concat([all_chi_restaurants, chi_restaurants_df], ignore_index=True)
data_cleaning.save(all_chi_restaurants, "data/chicago_restaurants_incomplete")

In [13]:
all_chi_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26274 entries, 0 to 26273
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              26274 non-null  object
 1   alias           26274 non-null  object
 2   name            26274 non-null  object
 3   image_url       26274 non-null  object
 4   is_closed       26274 non-null  object
 5   url             26274 non-null  object
 6   review_count    26274 non-null  object
 7   categories      26274 non-null  object
 8   rating          26274 non-null  float64
 9   coordinates     26274 non-null  object
 10  transactions    26274 non-null  object
 11  price           11871 non-null  object
 12  location        26274 non-null  object
 13  phone           26274 non-null  object
 14  display_phone   26274 non-null  object
 15  distance        26274 non-null  float64
 16  business_hours  26274 non-null  object
 17  attributes      26274 non-null  object
 18  neighborhood    26274 non-null  object
dtypes: float64(2), object(17)
memory usage: 3.8+ MB