In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import data_cleaning
import review_score_analysis
%matplotlib inline

In [ ]:
# Progress Report: 

# Our project investigates Yelp restaurant data to find out what factors impact peoples review scores. We are mostly curious about how location, price range and reviews relate to user ratings. Our dataset comes from a Yelp Open Dataset. We have filtered it to mainly focus on restaurant businesses and their reviews. We are trying to uncover trends and test hypotheses such as: "Do expensive places get better reviews"

In [ ]:
# Changes:

# Almost everything has mostly gone according to plan. This is except for in regards to clustering. At first we had planned to group restaurants based on quality. Ultimately we decided clustering wasn't the right approach due to insufficient variables within the dataset. During our EDA we discovered a strong bias in the Yelp review data. The bias was that most reviews are either 1-star or 5-star, with not much in between. This interesting pattern affects how we analyze and model the data going forward.

In [3]:
# Data Cleaning:

# Adjust as needed, these dataframes are big. No, really
chunk_size = 20_000

restaurants_df = data_cleaning.filter_business_data("data/yelp_academic_dataset_business.json", chunk_size)
reviews_df = data_cleaning.filter_review_data("data/yelp_academic_dataset_review.json", restaurants_df, chunk_size)

In [5]:
# EDA
print(f"Total businesses: {len(restaurants_df)}")
print(f"Total reviews for these restaurants: {len(reviews_df)}")




# calculate average review scores
avg_score_df = review_score_analysis.calculate_average_review_score(reviews_df)

avg_score_df.head()
# restaurants_df.head()
# TODO: Plot distribution of avg and average score - Harket

Total businesses: 27894
Total reviews for these restaurants: 4371282

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,avg_review_score
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,3.068571
1,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,3.458333
2,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,4.184211
3,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,4.114286
4,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31,3.954225

In [ ]:
# Visualization

# TODO: Count of individual review scores - Harket

# TODO: Does Price Range impact average review score? - Sonya

In [ ]:
# ML Task

# TODO: SVM of text from reviews - Cody