In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import data_cleaning
import review_score_analysis
%matplotlib inline

In [ ]:
# Progress Report: 

# Our project investigates Yelp restaurant data to find out what factors impact peoples review scores. We are mostly curious about how location, price range and reviews relate to user ratings. Our dataset comes from a Yelp Open Dataset. We have filtered it to mainly focus on restaurant businesses and their reviews. We are trying to uncover trends and test hypotheses such as: "Do expensive places get better reviews"

In [ ]:
# Changes:

# Almost everything has mostly gone according to plan. This is except for in regards to clustering. At first we had planned to group restaurants based on quality. Ultimately we decided clustering wasn't the right approach due to insufficient variables within the dataset. During our EDA we discovered a strong bias in the Yelp review data. The bias was that most reviews are either 1-star or 5-star, with not much in between. This interesting pattern affects how we analyze and model the data going forward.

In [2]:
# Data Cleaning:

# Adjust as needed, these dataframes are big. No, really
chunk_size = 100_000

restaurants_df = data_cleaning.filter_business_data("data/yelp_academic_dataset_business.json", chunk_size)
reviews_df = data_cleaning.filter_review_data("data/yelp_academic_dataset_review.json", restaurants_df, chunk_size)

In [6]:
# EDA
print(f"Total businesses: {len(restaurants_df)}")
print(f"Total reviews for these restaurants: {len(reviews_df)}")




# calculate average review scores
avg_score_df = review_score_analysis.calculate_average_review_score(reviews_df)

# avg_score_df.head()
restaurants_df.head()
# TODO: Plot distribution of avg and average score - Harket

Total businesses: 27893
Total reviews for these restaurants: 4371248

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'..."
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"{'RestaurantsReservations': 'True', 'Restauran...","Sushi Bars, Restaurants, Japanese","{'Tuesday': '13:30-22:0', 'Wednesday': '13:30-..."
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"{'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...","Korean, Restaurants","{'Monday': '11:30-20:30', 'Tuesday': '11:30-20..."
20,WKMJwqnfZKsAae75RMP6jA,Roast Coffeehouse and Wine Bar,10359 104 Street NW,Edmonton,AB,T5J 1B9,53.546045,-113.499169,4.0,40,0,"{'OutdoorSeating': 'False', 'Caters': 'True', ...","Coffee & Tea, Food, Cafes, Bars, Wine Bars, Re...","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ..."

In [ ]:
# Visualization

# TODO: Count of individual review scores - Harket

# TODO: Does Price Range impact average review score? - Sonya

In [ ]:
# ML Task

# TODO: SVM of text from reviews - Cody